@import url("colors.css");

* {
  border: none;
  border-radius: 0;
  font-family:
    JetBrainsMono Nerd Font,
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
  font-size: 13px;
  min-height: 0;
}

window#waybar {
  background: @ida-bg;
  color: @ida-fg;
}

tooltip {
  border-radius: 5px;
  background-color: @ida-bg-alt;
  border: 2px solid @ida-accent2;
  padding: 8px 14px;
}

/* Modules: Base Style */
#clock,
#pulseaudio,
#network,
#tray,
#custom-power,
#custom-launcher,
#custom-lyrics,
#language,
#workspaces {
  background: @ida-bg-alt;
  padding: 2px 12px;
  margin: 4px;
  color: @ida-fg;
  border-radius: 25px;
  border: 3px solid transparent;
  transition: all 0.3s ease-out;
}

/* Modules: Hover Effects */
#pulseaudio:hover,
#network:hover,
#language:hover {
  color: @ida-text-on-accent;
  background: @ida-accent;
  border-color: @ida-accent;
}

#workspaces button {
  background: transparent;
  padding: 0 8px;
  margin-left: 2px;
  transition: all 0.3s ease-out;
  border-radius: 8px;
}

#workspaces button:hover {
  background: @ida-bg-hover;
}

#workspaces button.active {
  background: @ida-bg-hover;
}

#workspaces button.urgent {
  background: @ida-urgent;
}

/* Modules: Specific Styles */

#custom-launcher {
  background: @ida-accent;
  color: @ida-text-on-accent;
  padding: 0 10px 0 10px;
}

#custom-launcher:hover {
  background: @ida-accent2;
  border-color: @ida-accent2;
}

#custom-launcher label {
  min-width: 1.2em;
  margin-right: 4px;
}

#clock {
  background: @ida-info;
  color: @ida-text-on-accent;
}

#network.disconnected,
#pulseaudio.muted {
  background: @ida-warning;
  color: @ida-text-on-accent;
}

#network {
  padding: 0 15px 0 10px;
}

#custom-power {
  background: @ida-accent;
  color: @ida-text-on-accent;
  padding: 0px 14px 0px 10px;
}

#custom-power:hover {
  background: @ida-urgent;
  border-color: @ida-urgent;
}
